#content {
    border: solid black 1px;
    width: 100vw;
    height: 100vh;
}
#prompt {
    border: solid red 1px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    align-items: flex-end;
}
#spacer {
    border: dotted blue 1px;
    height: 20%;
}
#button {
    border: solid black 1px;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}